<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我发布的任务</title>

    <link rel="stylesheet" href="../layui/css/layui.css">

    <script src="../layui/layui.js" charset="utf-8"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
</head>
<body>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <table class="layui-hide" id="test" ></table>

    <script>
        layui.use('table',function(){
            var table = layui.table;

            table.render({
                elem: '#test'
                ,url:'/task/findReleaseTaskByCname'
                ,method:'post'
                ,limit:"3"
                ,limits:[3,5,10,15]
                ,response: {
                    statusName: 'state' //规定数据状态的字段名称，默认：code
                    ,statusCode: 200 //规定成功的状态码，默认：0
                    ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                }
                ,cols: [[
                    {field:'rid', width:120, title: '任务编号', sort: true}
                    ,{field:'pname', title: '任务名称', width: 100}
                    ,{field:'tdate', width:100, title: '发布时间'}
                    ,{field:'psynopsis', width:100, title: '任务描述'}
                    ,{field:'pmoney', width:100, title: '任务报价', sort: true}
                    ,{field:'findate', width:100, title: '任务预期'}
                    ,{field:'tasktype', width:100, title: '任务类型'}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]]
                ,page : true
            });
        });
    </script>

</body>
</html>