<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对我有意向的公司/个人</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/manage/intentionteam.css">

    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>列边框表格测试</legend>
    </fieldset>

    <table border="1" width="500px" id="table_test">
        <thead>
        <tr>
            <th style="background: #00B38A;width: 250px;">项目名</th>
            <th style="background: #00B38A">团队</th>
        </tr>
        </thead>
        <tbody id="tbody0">

        </tbody>
    </table>
<script src="../js/manage/intentionteam.js"></script>
</body>
</html>