<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">

    <title>助力烨</title>

    <link rel="Shortcut Icon" href="http://www.yinggoo.com/resources/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../css/publisherdetails/publisher01.css"/>
    <link rel="stylesheet" type="text/css" href="../css/publisherdetails/publisher02.css"/>
    <link rel="stylesheet" type="text/css" href="../css/publisherdetails/publisher03.css"/>
    <link rel="stylesheet" type="text/css" href="../css/publisherdetails/publisher04.css"/>
    <link rel="stylesheet" type="text/css" href="../css/publisherdetails/publisher05.css"/>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../css/manage/companymanage.css">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../layui/layui.js"></script>
</head>
<body class="layui-layout-body">


<div class="layui-layout layui-layout-admin">

    <!--C端头部黑色导航-->
    <div id="lg_header">
        <div id="lg_tbar">

            <div class="inner">

                <div class="lg_tbar_l">
                    <a href="/index"><img src="images/logo.png" width="300px" height="71px" style="margin-top: -17px"></a>
                </div>

                <ul class="lg_tbar_m">
                    <li>
                        <a href="/index">首页</a>
                    </li>
                    <li>
                        <a href="/releasetask">发布任务</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="" target="_blank">更多任务
                            <!--<span class="tips-new">new</span>-->
                        </a>
                    </li>
                    <li>
                        <a href="#">地图</a>
                    </li>
                </ul>

                <div class="lg_tbar_r">
                    <ul class="account-bar">
                        <li>
                            <a href="#">预留位置</a>
                        </li>
                        <li class="user_dropdown" data-lg-tj-track-code="index_user">
                            <span class="unick" id="d_name"></span>
                            <em class="noticeDot dn" id="noticeDot_name"></em>
                            <i></i>
                            <ul>
                                <li>
                                    <a href="/manageindex" data-lg-tj-id="5c00"
                                       data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">帐号设置</a>
                                </li>

                                <li>
                                    <a href="#" data-lg-tj-id="5e00" data-lg-tj-no="idnull"
                                       data-lg-tj-cid="idnull" rel="nofollow">退出</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>

        </div><!--end #lg_tbar-->

    </div><!--end #header-->

    <div class="layui-side layui-bg-black" style="margin-top: -20px;">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">任务信息</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="crTask()">发布的任务</a></dd>
                        <dd><a onclick="crTask()">接受的任务</a></dd>
                        <dd><a onclick="intentionCompany()">对我有意向的团队</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item layui-nav-itemed" shiro:hasPermission="2">
                    <a class="" href="javascript:;">任务信息</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="crTask()">接受的任务</a></dd>
                        <dd><a onclick="intentionCompany()">发布的任务</a></dd>
                    </dl>
                </li>-->
                <li class="layui-nav-item">
                    <a href="javascript:;">个人信息</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="basicInformation()">个人基础信息</a></dd>
                        <dd><a onclick="updatePassword()">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="#">预留位置</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--<div style="padding: 15px;">内容主体区域</div>-->

        <iframe src="manage/crtask.html" frameborder="0" id="crtask"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>

<script src="../js/manage/manage.js"></script>
</body>
</html>
