<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人登录密码</title>

    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/manage/updatepassword.css">

    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
</head>
<body>

    <input type="text" id="oldpasswordcontrast">

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="oldpassword" lay-verify="required|phone" autocomplete="off"
                           class="layui-input" id="oldpassword">
                </div>
            </div>
            <span id="error-oldpassword-null"><img src="../images/login/sigh.jpg">请输入旧密码</span>
            <span id="error-oldpassword-cantrast"><img src="../images/login/sigh.jpg">旧密码错误</span>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="newpassword" lay-verify="required|phone" autocomplete="off"
                           class="layui-input" id="newpassword">
                </div>
            </div>
            <span id="error-newpassword-null"><img src="../images/login/sigh.jpg">请输入新密码</span>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="confirmpassword" lay-verify="required|phone" autocomplete="off"
                           class="layui-input" id="confirmpassword">
                </div>
            </div>
            <span id="error-confirmpassword-null"><img src="../images/login/sigh.jpg">请输入确认密码</span>
            <span id="error-password-equally"><img src="../images/login/sigh.jpg">两次密码不一致</span>
        </div>
        <button type="button" class="layui-btn" onclick="updatePassword()">修改</button>
    </form>
<script src="../js/manage/updatepassword.js"></script>
</body>
</html>