<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
   
<mapper namespace="com.lingying.soho.Juliet.mapper.TaskMapper">

    <insert id="addTask" parameterType="com.lingying.soho.Juliet.entity.TaskBasic" useGeneratedKeys="true" keyProperty="rid">
    INSERT INTO task(
           cname,cemail
           ,tdate,pname
           ,pmoney,findate,tasktype
        ) VALUES (
            #{cname},#{cemail},
            #{tdate}, #{pname},
            #{pmoney},#{findate},#{tasktype}
        )
    </insert>

    <update id="updateTaskById">
        UPDATE
            task
        SET
            psynopsis = #{psynopsis}
        WHERE
            rid = #{rid}
    </update>

    <update id="updateTaskCoreById">
        UPDATE
            task
        SET
            core = #{core}
        WHERE
            rid = #{rid}
    </update>

    
    <select id="findById" resultType="com.lingying.soho.Juliet.entity.Task">
        SELECT
            cname,cemail
           ,tdate,pname
           ,psynopsis,pmoney
           ,findate,tasktype,core
        FROM
            task
        WHERE
            rid=#{rid}
    </select>
    <select id="findByLimit" resultType="com.lingying.soho.Juliet.entity.TaskV">
        SELECT
             rid,tdate
            ,pname,pmoney
            ,findate,psynopsis
        FROM
            task
        LIMIT 0,6
    </select>

    <select id="taskList" resultType="com.lingying.soho.Juliet.entity.TaskList">
        SELECT
            task.rid,task.pname,task.psynopsis,task.tasktype,task.findate,task.tdate,task.pmoney,company.cname,company.involve,company.cid
        from
            task,company
        WHERE
             task.cname=company.cname
    </select>

    <select id="searchByPnameTaskList" resultType="com.lingying.soho.Juliet.entity.TaskList">
        SELECT
            task.rid,task.pname,task.psynopsis,task.tasktype,task.findate,task.tdate,task.pmoney,company.cname,company.involve,company.cid
        from
            task,company
        <where>
             task.cname=company.cname
        <if test="pname!=null and pname!=''">
        AND
            task.pname
        LIKE
            "%"#{pname}"%"
        </if>
        <if test="tasktype!=null and tasktype!=''">
        AND
            task.tasktype=#{tasktype}
        </if>
        </where>
    </select>

    <select id="searchByCnameTaskList" resultType="com.lingying.soho.Juliet.entity.TaskList">
        SELECT
            task.rid,task.pname,task.psynopsis,task.tasktype,task.findate,task.tdate,task.pmoney,company.cname,company.involve,company.cid
        from
            task,company
        <where>
             task.cname=company.cname
        <if test="cname!=null and cname!=''">
        AND
            company.cname
        LIKE
            "%"#{cname}"%"
        </if>
        <if test="tasktype!=null and tasktype!=''">
        AND
            task.tasktype=#{tasktype}
        </if>
        </where>
    </select>

    <select id="findTaskType" resultType="java.lang.String">
        SELECT
            listname
        FROM
            type
        WHERE
            level>1;
    </select>

    <select id="findCname" resultType="java.lang.String">
        SELECT
            cname
        FROM
            company
    </select>

    <select id="findRidByPname" resultType="java.lang.Integer">
        SELECT
            rid
        FROM
            task
        WHERE
            pname=#{pname}
    </select>

    <select id="findReleaseTaskByCname" resultType="com.lingying.soho.Juliet.entity.Task">
        SELECT
            rid,pname,
            tdate,psynopsis,
            pmoney,findate,
            tasktype
        FROM
            task
        WHERE
            cname=#{cortname}
    </select>

    <select id="findReleaseTaskLimitByCname" resultType="com.lingying.soho.Juliet.entity.Task">
        SELECT
            rid,pname,
            tdate,psynopsis,
            pmoney,findate,
            tasktype
        FROM
            task
        WHERE
            cname=#{cortname} LIMIT #{page},#{limit}
    </select>
</mapper>