<html lang="en" class="login_page">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>领英·SOHO</title>

	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="layui/css/layui.css">
	<link rel="stylesheet" href="css/login/login.css">

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="layui/layui.js"></script>

</head>
<body>
<div class="bg"></div>
<div class=body>

	<div class="login" id="login">

		<div id="login-left">
			<!-- 上方切换登录方式的ul-->
			<div id="login-ul">
				<ul>
					<li id="passwordlogin" class="selected" onclick="passwordLogin()">密码登录</li>
					<li id="codelogin" onclick="codeLogin()">验证码登录</li>
				</ul>
			</div>
            <h5 th:text="${msg}" style="color: #FD482C"></h5>
            <!-- 邮箱/手机密码登录的表单 -->
			<form class="layui-form" id="login-email-phone-form" action="login" method="post">
				<div class="layui-form-item">
					<div class="layui-inline">
						<div class="layui-input-inline">
							<input type="text" name="username" lay-verify="required|phone" autocomplete="off"
								   class="layui-input" placeholder="请输入常用手机号/邮箱"
								   id="useremailphone" >
						</div><br>
						<span id="error-phone-email"><img src="images/login/sigh.jpg">请输入已验证的手机/邮箱</span>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<div class="layui-input-inline">
							<input type="password" name="password" lay-verify="email" autocomplete="off"
								   class="layui-input" placeholder="请输入密码" id="userpassword">
						</div><br>
						<span id="error-password"><img src="images/login/sigh.jpg">请输入密码</span>
					</div>
				</div>

				<a href="forgetpassword.html" class="forgetpassword">忘记密码?</a><br>
				<button type="submit" class="layui-btn" >登录</button>
			</form>

            <!-- 手机验证码登录的表单 -->
            <form class="layui-form" action="login" id="login-phone-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="tel" name="username" lay-verify="required|phone" autocomplete="off"
                                   class="layui-input" placeholder="请输入已验证手机" id="userphone">
                        </div><br>
                        <span id="error-phone"><img src="images/login/sigh.jpg">请输入已验证手机</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="email" lay-verify="email" autocomplete="off"
                                   class="layui-input" placeholder="请输入验证码" id="userphonepassword">
                        </div>
                        <span id="error-phone-password"><img src="images/login/sigh.jpg">请输入6位数字验证码</span>
                        <input id="phone-code-login" type="button" value="获取验证码" onclick="phoneCode()">
                    </div>
                </div>

                <a href="forgetpassword.html" class="forgetpassword">忘记密码?</a><br>
                <button type="button" class="layui-btn" onclick="phoneCodeLogin()">登录</button>
            </form>
		</div>

		<div id="login-right">
			<h5>还没有账号:</h5>
			<a href="register" class="register">立即注册<img src="images/login/arrow.jpg"></a><br>
			<img src="images/login/app.jpg" class="app"><br>
			<span style="margin-left: 50px">扫描二维码下载小程序</span>

		</div>
	</div>
</div>
	<a id="relogin" style="display: none">0</a>
<script src="js/login/login.js"></script>
</body>
</html>