<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>领英·SOHO</title>

    <link rel="Shortcut Icon" href="http://www.yinggoo.com/resources/images/favicon.ico">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/perfect/perfect.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="layui/layui.js"></script>
</head>
<body>
<div class="bg"></div>
<div class=body>
    <div class="login" id="login" shiro:hasPermission="2">
        <div>
            <h1>完善个人/公司信息</h1>
        </div>
        <form class="layui-form" action="teamReg" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">个人/团队名</label>
                <div class="layui-input-block">
                    <input type="text" name="tname" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="temail" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-block">
                    <input type="text" name="tphone" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">擅长类型</label>
                <div class="layui-input-block">
                    <input type="text" name="tasktype" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">项目经历</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入项目经历" class="layui-textarea" name="experience"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn">立即提交</button>
                </div>
            </div>
        </form>
    </div>
    <div class="login" id="login2" shiro:hasPermission="1">
        <div>
            <h1>完善个人/公司信息</h1>
        </div>
        <form class="layui-form" action="companyReg" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">个人/公司名</label>
                <div class="layui-input-block">
                    <input type="text" name="cname" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">涉及领域</label>
                <div class="layui-input-block">
                    <input type="text" name="involve" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司电话</label>
                <div class="layui-input-block">
                    <input type="text" name="cphone" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="cemail" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司主页</label>
                <div class="layui-input-block">
                    <input type="text" name="homepage" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">注册资金</label>
                <div class="layui-input-block">
                    <input type="text" name="capital" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">简单介绍下</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入个人/公司简介" class="layui-textarea" name="synopsis"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>