<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>领英·SOHO</title>

    <link rel="Shortcut Icon" href="http://www.yinggoo.com/resources/images/favicon.ico">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link >
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="layui/layui.js"></script>
</head>
<body>
<div class="bg"></div>
<div class=body>

    <div class="login" id="login">


    </div>
</div>
</body>
</html>