<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8">

    <title>助力烨</title>

    <link rel="Shortcut Icon" href="http://www.yinggoo.com/resources/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/taskdetails/taskdetails01.css"/>
    <link rel="stylesheet" type="text/css" href="css/taskdetails/taskdetails02.css"/>
    <link rel="stylesheet" type="text/css" href="css/taskdetails/taskdetails03.css"/>
    <link rel="stylesheet" type="text/css" href="css/taskdetails/taskdetails04.css"/>
    <link rel="stylesheet" type="text/css" href="css/taskdetails/taskdetails05.css"/>

    <script type="application/javascript" src="js/jquery-3.2.1.min.js"></script>
</head>
<body onload="javascript:GetRequest()">
<!-- header -->
<!--C端头部通栏广告位-->
<div id="lg_header">

    <!--C端头部黑色导航-->
    <div id="lg_tbar">
        <div class="inner">
            <div class="lg_tbar_l">
                <a href="https://www.lagou.com/" class="logo"></a>
            </div>

            <ul class="lg_tbar_m">
                <li>
                    <a href="https://www.lagou.com/" data-lg-tj-id="5i00" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull">首页</a>
                </li>
                <li>
                    <a href="https://www.lagou.com/gongsi/" data-lg-tj-id="5j00" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull" data-lg-tj-track-code="index_company">公司</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://xiaoyuan.lagou.com/" data-lg-tj-id="19xc" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull" target="_blank" data-lg-tj-track-code="index_campus">校园招聘<span
                            class="tips-new">new</span></a>
                </li>
                <li>
                    <a rel="nofollow" href="https://yanzhi.lagou.com/" data-lg-tj-id="ic00" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull" data-lg-tj-track-code="index_yanzhi">言职</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://kaiwu.lagou.com/" data-lg-tj-id="1mua" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull" data-lg-tj-track-code="index_kaiwu">课程</a>
                </li>
            </ul>

            <div class="lg_tbar_r">
                <ul class="account-bar">
                    <!-- if has unread message, add class unreaded -->
                    <li class="msg_dropdown" data-lg-tj-track-code="index_message">
                        <a class="msg_group" href="javascript: void 0;" data-lg-tj-id="5h00" data-lg-tj-no="idnull"
                           data-lg-tj-cid="idnull" rel="nofollow">
                            消息
                            <em class="msg_amount hide" id="headMsgAmount"></em>
                        </a>
                        <div class="lg_msg_popup">
                            <div class="lg_msg_pu_body" id="lgPopupMsgBody">
                            </div>
                            <div class="lg_msg_pu_footer">
                                <a href="https://www.lagou.com/message/settingsdetail.html" target="_blank"
                                   class="lg_msg_setting fl">
                                    <i class="lg_msg_avatar setting_i" data-lg-tj-id="18B0"
                                       data-lg-tj-no="idnull" data-lg-tj-cid="idnull"></i>&nbsp;
                                </a>
                                <a href="https://www.lagou.com/message/msgdetail.html" class="lg_msg_more fr"
                                   data-lg-tj-id="18A0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">查看更多</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="https://www.lagou.com/resume/myresume.html" data-lg-tj-id="5700" data-lg-tj-no="idnull"
                           data-lg-tj-cid="idnull" rel="nofollow" data-lg-tj-track-code="index_resume">简历</a>
                    </li>
                    <li>
                        <a href="https://www.lagou.com/mycenter/delivery.html" id="deliveryLink" data-lg-tj-id="5800"
                           data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow"
                           data-lg-tj-track-code="index_deliver" data-lg-tj-track-type="1">投递箱</a>
                        <em class="noticeDot dn" id="noticeDot_delivery"></em>
                    </li>
                    <li>
                        <a href="https://www.lagou.com/mycenter/collections.html" data-lg-tj-id="5900"
                           data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow"
                           data-lg-tj-track-code="index_favorite" data-lg-tj-track-type="1">收藏夹</a>
                    </li>
                    <li class="user_dropdown" data-lg-tj-track-code="index_user">
                        <span class="unick" id="d_name"></span>
                        <em class="noticeDot dn" id="noticeDot_name"></em>
                        <i></i>
                        <ul>
                            <li>
                                <a href="https://www.lagou.com/s/subscribe.html" data-lg-tj-id="5a00"
                                   data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">我的订阅</a>
                            </li>
                            <li>
                                <a href="https://www.lagou.com/mycenter/invitation.html" id="invitationLink"
                                   data-lg-tj-id="5b00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow"
                                   data-lg-gatj-msg="header_c,职位邀请,number">职位邀请</a>
                                <em class="noticeDot dn" id="noticeDot_invitation"></em>
                            </li>

                            <li>
                                <a href="https://yanzhi.lagou.com/user/userIndex.html" data-lg-tj-id="1kcy"
                                   data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">我的问答</a>
                            </li>

                            <li>
                                <a href="companymanage" data-lg-tj-id="5c00"
                                   data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">帐号设置</a>
                            </li>

                            <li>
                                <a href="https://easy.lagou.com/dashboard/index.htm?from=c_index" data-lg-tj-id="5d00"
                                   data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">去企业版</a>
                            </li>

                            <li>
                                <a href="/frontLogout.do" data-lg-tj-id="5e00" data-lg-tj-no="idnull"
                                   data-lg-tj-cid="idnull" rel="nofollow">退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a rel="nofollow" href="https://www.lagou.com/app/download.html" class="lg_app" data-lg-tj-id="5500"
                   data-lg-tj-no="idnull" data-lg-tj-cid="idnull" target="_blank">拉勾APP</a>
                <a rel="nofollow" href="https://easy.lagou.com/dashboard/index.htm?from=c_index" class="lg_os"
                   data-lg-tj-id="5600" data-lg-tj-no="idnull" data-lg-tj-cid="idnull"
                   data-lg-tj-track-code="index_qiyeban">进入企业版</a>
            </div>

        </div>

    </div><!--end #lg_tbar-->


</div><!--end #header-->

<!-- 页面主体START -->
<div class="position-head" data-companyid="50735">
    <div class="position-content ">
        <div class="position-content-l">
            <div class="job-name">
                <h4 id="d_cname">项目发布者：</h4>
                <h2 class="name" id="d_pname"></h2>
                <div class="marEdit">
                </div>
            </div>
            <dd class="job_request">
                <h3>
                    <span class="salary" id="d_pmoney">资金预算：</span>
                    <span id="d_findate">/工期：</span>
                </h3>
                <!-- 职位标签 -->
                <ul class="position-label clearfix">
                    <li class="labels" id="d_tasktype"></li>
                </ul>
            </dd>
        </div>
        <div shiro:hasPermission="2">
	        <div class="position-content-r clearfix">
	            <div class="position-deal clearfix">
	                <!-- 收藏按钮 -->
	                <div class="jd_collection  job-collection " data-lg-tj-id="9500" data-lg-tj-no="0001" data-lg-tj-cid="idnull" id="want">
	                    <i class="icon-glyph-hollow-star"> </i>有意向
	                </div>
	                <div class="resume-deliver" id="notwant">
	                    <a rel="nofollow" class="send-CV-btn s-send-btn fr" data-code="4" data-position-id="5466919"
	                       data-resume-type="1" data-resume-id="7697565" href="javascript:;" data-lg-tj-id="9800"
	                       data-lg-tj-no="0001" data-lg-tj-cid="idnull">取消意向
	                    </a>
	                </div>
	                <!-- 是否 canDeliver end -->
	            </div>
	        </div>
        </div>
    </div>

</div>


<div class="container clearfix" id="container">
    <div class="content_l fl">
        <dl class="job_detail" id="job_detail">
            <dt class="clearfix join_tc_icon">
            </dt>
            <dd class="job-advantage">
                <span class="advantage">项目描述</span>
                <p id="d_psynopsis"></p>
            </dd>
            <dd class="job_bt">
                <h3 class="description">项目特色</h3>
                <div class="job-detail" id="d_core">

                </div>
            </dd>
       </dl>
    </div>
        <!-- 推荐 -->
        <!--
@require "common/widgets/recommend/main.less"
-->
        <!-- 公司详情页、职位详情页 推荐-->
    <div class="content_r">
        <dl class="job_company" id="job_company">
            <dt>
                <a href="">
                    <div class="job_company_content">
                        <h3 class="fl">
                            <em class="fl-cn" id="c_name"></em>
                            <i class="icon-approve icon-glyph-valid"></i>
                            <span class="dn">拉勾认证企业</span>
                        </h3>
                    </div>
                </a>
            </dt>
            <dd>
                <ul class="c_feature">
                    <li>
                        <i class="icon-glyph-fourSquare"></i> <h4 class="c_feature_name" id="c_involve"></h4>
                        <span class="hovertips">涉及领域</span>
                    </li>
                    <li>
                        <i class="icon-glyph-trend"></i> <h4 class="c_feature_name" id="c_email"></h4>
                        <span class="hovertips">公司邮箱</span>
                    </li>
                    <li>
                        <i class="icon-glyph-trend"></i> <h4 class="c_feature_name" id="c_phone"></h4>
                        <span class="hovertips">公司电话</span>
                    </li>
                    <li>
                        <i class="icon-glyph-figure"></i> <h4 class="c_feature_name" id="c_capital"></h4>
                        <span class="hovertips">注册资金</span>
                    </li>
                    <li id="c_homepage">
                        <span class="hovertips">公司主页</span>
                    </li>
                </ul>
            </dd>
        </dl>



        <!--广告位-->
        <div key="ZHIWEIYE_YOUCEERWEIMA" class="job_ad_side lgad_jsonp ad_exposure"></div>
    </div>
</div>


<!-- 页面主体END -->
<!-- footer <-->
<a id="backtop" title="回到顶部" rel="nofollow"></a>

<div id="footer">
    <div class="wrapper">
        <div class="inner_wrapper">
            <div class="footer_module_right">
                <div class="footer_module_business">
                    <p class="footer_module_title">企业服务</p>
                    <a href="#" target="_blank" rel="nofollow">抢包宝典</a>
                    <a href="#" target="_blank" rel="nofollow">公司搜索</a>
                </div>
                <div class="footer_module_business">
                    <p class="footer_module_title">用户帮助</p>
                    <a href="#" target="_blank" rel="nofollow">帮助中心</a>
                    <a href="#" target="_blank" rel="nofollow">用户服务协议</a>
                    <a href="#" target="_blank" rel="nofollow">隐私政策</a>
                </div>
                <div class="footer_module_business">
                    <p class="footer_module_title">合作伙伴</p>
                    <a href="#" target="_blank" rel="nofollow">腾讯云</a>
                    <a href="#" target="_blank" rel="nofollow">阿里云</a>
                    <a href="#" target="_blank" rel="nofollow">Gitlab</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright_main">
                <div class="copyright_main_left">
                    <span class="copyright_title"><em>&copy;</em>2018 助力烨</span>
                    <a target="_blank" href="#" rel="nofollow">京ICP备14023790号-2</a>
                    <a target="_blank" class="footer_gongan" href="#" rel="nofollow"><i class="footer_lagou_gongan"></i>京公网安备
                        11010802024043号</a>
                    <div class="footer_lagou_jubao">
                        <i class="lagou_jubao"></i>
                        <p>
                            <span>违法和不良信息举报</span>
                            <span>电话: 4000400040000</span>
                            <span>邮箱: cc@zhuliye.com</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/taskdetails/refind.js"></script>
</body>
</html>