<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8">

    <title>助力烨</title>

    <link rel="Shortcut Icon" href="http://www.yinggoo.com/resources/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/tasklist/tasklist01.css"/>
    <link rel="stylesheet" type="text/css" href="css/tasklist/tasklist02.css"/>
    <link rel="stylesheet" type="text/css" href="css/tasklist/tasklist03.css"/>
    <link rel="stylesheet" type="text/css" href="css/tasklist/tasklist04.css"/>
    <link rel="stylesheet" type="text/css" href="css/tasklist/tasklist05.css"/>
</head>
<body>

<!-- header -->
<!--C端头部通栏广告位-->
<div id="top_bannerC" style="height: 0px;">

    <a rel="nofollow" href="https://activity.lagou.com/gracie/pc/vanguard.html"
       style="height: 0px; background: url(https://www.lgstatic.com/i/image2/M01/8B/96/CgotOV15t06AFmIDAAEvlS2kDFo969.JPG) center center no-repeat; background-color:"
       target="_blank" data-lg-tj-id="bd00" data-lg-tj-no="idnull" data-lg-tj-cid="8241" class="tj_exposure"></a>
</div>

<div id="lg_header">

    <!--C端头部黑色导航-->
    <div id="lg_tbar">

        <div class="inner">
            <div class="lg_tbar_l">
                <a href="https://www.lagou.com/" class="logo"></a>
            </div>

            <ul class="lg_tbar_m">
                <li>
                    <a href="https://www.lagou.com/" data-lg-tj-id="5i00" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull">首页</a>
                </li>
                <li>
                    <a href="https://www.lagou.com/gongsi/" data-lg-tj-id="5j00" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull" data-lg-tj-track-code="index_company">公司</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://xiaoyuan.lagou.com/" data-lg-tj-id="19xc" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull" target="_blank" data-lg-tj-track-code="index_campus">校园招聘<span
                            class="tips-new">new</span></a>
                </li>
                <li>
                    <a rel="nofollow" href="https://yanzhi.lagou.com/" data-lg-tj-id="ic00" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull" data-lg-tj-track-code="index_yanzhi">言职</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://kaiwu.lagou.com/" data-lg-tj-id="1mua" data-lg-tj-no="idnull"
                       data-lg-tj-cid="idnull" data-lg-tj-track-code="index_kaiwu">课程</a>
                </li>
            </ul>

            <div class="lg_tbar_r">
                <div class="passport">
                    <a class="login" data-lg-tj-id="5f00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">登录</a>
                    <span>|</span>
                    <a class="register" data-lg-tj-id="5g00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull"
                       rel="nofollow">注册</a>
                </div>
                <a rel="nofollow" href="https://www.lagou.com/app/download.html" class="lg_app" data-lg-tj-id="5500"
                   data-lg-tj-no="idnull" data-lg-tj-cid="idnull" target="_blank">拉勾APP</a>
                <a rel="nofollow" href="https://easy.lagou.com/dashboard/index.htm?from=c_index" class="lg_os"
                   data-lg-tj-id="5600" data-lg-tj-no="idnull" data-lg-tj-cid="idnull"
                   data-lg-tj-track-code="index_qiyeban">进入企业版</a>
            </div>

        </div>

    </div><!--end #lg_tbar-->


</div><!--end #header-->


<input type="hidden" id="serverTime" value="1568969545780"/>

<!-- 页面主体START -->
<div id="content-container">

    <div class="search-wrapper  ">
        <div id="searchBar" class="search-bar">
            <div class="tab-wrapper">
                <a id="tab_pos" class="active" rel="nofollow" href="javascript:;">职位 ( <span>500+</span> ) </a>
                <a id="tab_comp" class="disabled" rel="nofollow" href="javascript:;">公司 ( <span>0</span> ) </a>
            </div>
            <div class="input-wrapper" data-lg-tj-track-code="search_search" data-lg-tj-track-type="1">
                <div class="keyword-wrapper">
                    <input type="text" id="keyword" autocomplete="off" maxlength="64" placeholder="搜索职位、公司或地点"
                           value="Java"/>
                </div>
                <input type="button" id="submit" value="搜索"/>
            </div>
            <div class="r_search_tit" data-lg-tj-track-code="search_relevant" data-lg-tj-track-type="1">
                <span>相关搜索：</span>
                <ul class="r_search_con">
                    <li class="r_search"><a rel="nofollow" class="r_search_a"
                                            href="https://www.lagou.com/jobs/list_java后端?oquery=Java&fromSearch=true&labelWords=relative">java后端</a>
                    </li>
                    <li class="r_search"><a rel="nofollow" class="r_search_a"
                                            href="https://www.lagou.com/jobs/list_java web?oquery=Java&fromSearch=true&labelWords=relative">java
                        web</a></li>
                    <li class="r_search"><a rel="nofollow" class="r_search_a"
                                            href="https://www.lagou.com/jobs/list_java大数据?oquery=Java&fromSearch=true&labelWords=relative">java大数据</a>
                    </li>
                    <li class="r_search"><a rel="nofollow" class="r_search_a"
                                            href="https://www.lagou.com/jobs/list_java分布式?oquery=Java&fromSearch=true&labelWords=relative">java分布式</a>
                    </li>
                    <li class="r_search"><a rel="nofollow" class="r_search_a"
                                            href="https://www.lagou.com/jobs/list_java服务端?oquery=Java&fromSearch=true&labelWords=relative">java服务端</a>
                    </li>
                    <li class="r_search"><a rel="nofollow" class="r_search_a"
                                            href="https://www.lagou.com/jobs/list_java实习?oquery=Java&fromSearch=true&labelWords=relative">java实习</a>
                    </li>
                    <li class="r_search"><a rel="nofollow" class="r_search_a"
                                            href="https://www.lagou.com/jobs/list_java后端实习?oquery=Java&fromSearch=true&labelWords=relative">java后端实习</a>
                    </li>
                    <li class="r_search"><a rel="nofollow" class="r_search_a"
                                            href="https://www.lagou.com/jobs/list_java架构师?oquery=Java&fromSearch=true&labelWords=relative">java架构师</a>
                    </li>
                    <li class="r_search"><a rel="nofollow" class="r_search_a"
                                            href="https://www.lagou.com/jobs/list_后端?oquery=Java&fromSearch=true&labelWords=relative">后端</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 搜索输入框模块 -->
    <div id="main_container">
        <!-- 左侧 -->
        <div class="content_left">

            <!-- 依次填入左侧各个模块 -->

            <!--当前为公司标签时，隐藏筛选条件栏-->
            <div id="positionHead" class="">

                <!-- 公司卡片 -->

                <!-- 筛选 -->

                <ul id="filterBox" class="filter-wrapper">
                    <input id="filterOption" type="hidden" value="1">

                    <li class="li-taller brief dn" id="filterBrief">
                        <span class="title">工作地点：</span>
                        <a rel="nofollow" href="javascript:;" class="active">全国</a>


                        <span class="title">工作经验：</span>
                        <a rel="nofollow" href="javascript:;" class="active">不限</a>

                        <span class="title">学历要求：</span>
                        <a rel="nofollow" href="javascript:;" class="active">不限</a>

                        <span class="title">融资阶段：</span>
                        <a rel="nofollow" href="javascript:;" class="active">不限</a>

                        <span class="title">公司规模：</span>
                        <a rel="nofollow" href="javascript:;" class="active">不限</a>

                        <span class="title">行业领域：</span>
                        <a rel="nofollow" href="javascript:;" class="active">不限</a>
                    </li>

                    <div class="details" id="filterCollapse">
                        <div class="has-more">
                            <div class="more more-positions workPosition">
                                <li class="hot">
                                    <span class="title">工作地点：</span>
                                    <a rel="nofollow" href="javascript:;" class="active" data-lg-tj-id="8p00"
                                       data-lg-tj-no="0001" data-lg-tj-cid="idnull" data-id="">全国</a>
                                </li>
                                <li class="other">
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8q00" data-lg-tj-no="0001"
                                       data-lg-tj-cid="idnull" data-id="8" class="more-city-name">重庆</a>
                                </li>
                            </div>

                            <!-- 处理工作地点深层选择 -->
                            <div class="choose-detail">
                                <li class="position-head">

                                    <div class="current-handle-position">
                                        <span class="title">工作地点：</span>
                                        <a class="current_city current">全国</a>
                                    </div>

                                    <div class="other-hot-city">
                                        <div class="city-wrapper dn">
                                            <a data-id="5" class="hot-city-name">北京</a>
                                        </div>
                                        <a rel="nofollow" class="btn-more" href="javascript:;">更多&ensp;<i></i></a>
                                    </div>
                                </li>
                            </div>
                        </div>
                        <li class="multi-chosen"><span class="title">工作经验：</span>
                            <a rel="nofollow" href="javascript:;" class="active" data-lg-tj-id=8r00 data-lg-tj-no="0001
                                                    " data-lg-tj-cid="idnull">不限
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id=8r00 data-lg-tj-no="0002"
                               data-lg-tj-cid="idnull">应届毕业生 <i class="delete"></i>
                            </a>
                        </li>

                        <li class="multi-chosen"><span class="title">学历要求：</span>

                            <a rel="nofollow" href="javascript:;" class="active" data-lg-tj-id="8s00" data-lg-tj-no="
                                                            0001
                                                    " data-lg-tj-cid="idnull">不限
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8s00" data-lg-tj-no="
                                                                    0002
                                                            " data-lg-tj-cid="idnull">大专
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8s00" data-lg-tj-no="
                                                                    0003
                                                            " data-lg-tj-cid="idnull">本科
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8s00" data-lg-tj-no="
                                                                    0004
                                                            " data-lg-tj-cid="idnull">硕士
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8s00" data-lg-tj-no="
                                                                    0005
                                                            " data-lg-tj-cid="idnull">博士
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8s00" data-lg-tj-no="
                                                                    0006
                                                            " data-lg-tj-cid="idnull">不要求
                                <i class="delete"></i>
                            </a>

                        </li>
                        <li class="multi-chosen"><span class="title">融资阶段：</span>
                            <a rel="nofollow" href="javascript:;" class="active" data-lg-tj-id="8t00" data-lg-tj-no="
                                                            0001
                                                    " data-lg-tj-cid="idnull">不限
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8t00" data-lg-tj-no="
                                                                    0002
                                                            " data-lg-tj-cid="idnull">未融资
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8t00" data-lg-tj-no="
                                                                    0003
                                                            " data-lg-tj-cid="idnull">天使轮
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8t00" data-lg-tj-no="
                                                                    0004
                                                            " data-lg-tj-cid="idnull">A轮
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8t00" data-lg-tj-no="
                                                                    0005
                                                            " data-lg-tj-cid="idnull">B轮
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8t00" data-lg-tj-no="
                                                                    0006
                                                            " data-lg-tj-cid="idnull">C轮
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8t00" data-lg-tj-no="
                                                                    0007
                                                            " data-lg-tj-cid="idnull">D轮及以上
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8t00" data-lg-tj-no="
                                                                    0008
                                                            " data-lg-tj-cid="idnull">上市公司
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="8t00" data-lg-tj-no="
                                                                    0009
                                                            " data-lg-tj-cid="idnull">不需要融资
                                <i class="delete"></i>
                            </a>
                        </li>
                        <li class="multi-chosen"><span class="title">公司规模：</span>

                            <a rel="nofollow" href="javascript:;" class="active" data-lg-tj-id="1c49" data-lg-tj-no="
                                                            0001
                                                    " data-lg-tj-cid="idnull">不限
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="1c49" data-lg-tj-no="
                                                                    0002
                                                            " data-lg-tj-cid="idnull">少于15人
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="1c49" data-lg-tj-no="
                                                                    0003
                                                            " data-lg-tj-cid="idnull">15-50人
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="1c49" data-lg-tj-no="
                                                                    0004
                                                            " data-lg-tj-cid="idnull">50-150人
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="1c49" data-lg-tj-no="
                                                                    0005
                                                            " data-lg-tj-cid="idnull">150-500人
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="1c49" data-lg-tj-no="
                                                                    0006
                                                            " data-lg-tj-cid="idnull">500-2000人
                                <i class="delete"></i>
                            </a>
                            <a rel="nofollow" href="javascript:;" data-lg-tj-id="1c49" data-lg-tj-no="
                                                                    0007
                                                            " data-lg-tj-cid="idnull">2000人以上
                                <i class="delete"></i>
                            </a>

                        </li>
                        <div class="has-more hy-area">
                            <li class="multi-chosen">
                                <span class="title">行业领域：</span>
                                <a rel="nofollow" href="javascript:;" class="active" data-lg-tj-id="8u00"
                                   data-lg-tj-no="
                                                            0001
                                                    " data-lg-tj-cid="idnull">不限
                                </a>
                                <a rel="nofollow" href="javascript:;" data-lg-tj-id="8u00" data-lg-tj-no="
                                                                    0002
                                                            " data-lg-tj-cid="idnull">移动互联网
                                    <i class="delete"></i>
                                </a>
                                <a rel="nofollow" href="javascript:;" data-lg-tj-id="8u00" data-lg-tj-no="
                                                                    0003
                                                            " data-lg-tj-cid="idnull">电商
                                    <i class="delete"></i>
                                </a>
                                <a rel="nofollow" href="javascript:;" data-lg-tj-id="8u00" data-lg-tj-no="
                                                                    0004
                                                            " data-lg-tj-cid="idnull">金融
                                    <i class="delete"></i>
                                </a>
                                <a rel="nofollow" href="javascript:;" data-lg-tj-id="8u00" data-lg-tj-no="
                                                                    0005
                                                            " data-lg-tj-cid="idnull">企业服务
                                    <i class="delete"></i>
                                </a>
                                <a rel="nofollow" href="javascript:;" data-lg-tj-id="8u00" data-lg-tj-no="
                                                                    0006
                                                            " data-lg-tj-cid="idnull">教育
                                    <i class="delete"></i>
                                </a>
                                <a rel="nofollow" href="javascript:;" data-lg-tj-id="8u00" data-lg-tj-no="
                                                                    0007
                                                            " data-lg-tj-cid="idnull">文娱丨内容
                                    <i class="delete"></i>
                                </a>
                                <a rel="nofollow" href="javascript:;" data-lg-tj-id="8u00" data-lg-tj-no="
                                                                    0008
                                                            " data-lg-tj-cid="idnull">游戏
                                    <i class="delete"></i>
                                </a>
                                <a rel="nofollow" href="javascript:;" data-lg-tj-id="8u00" data-lg-tj-no="
                                                                    0009
                                                            " data-lg-tj-cid="idnull">消费生活
                                    <i class="delete"></i>
                                </a>
                                <a rel="nofollow" href="javascript:;" data-lg-tj-id="8u00" data-lg-tj-no="
                                                                    0010
                                                            " data-lg-tj-cid="idnull">硬件
                                    <i class="delete"></i>
                                </a>
                                <span class="btn-more-hy" href="javascript:;">更多&ensp;<i></i></span>
                            </li>
                            <div class="more-hy more-fields">
                                <li class="hot multi-chosen">
                                    <span class="title">行业领域：</span>
                                    <a rel="nofollow" href="javascript:;" class="active" data-lg-tj-id="8u00"
                                       data-lg-tj-no="
                                                                    0001
                                                            " data-lg-tj-cid="idnull">不限
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8v00" data-lg-tj-no="
                                                                    0002
                                                            " data-lg-tj-cid="idnull">移动互联网
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8v00" data-lg-tj-no="
                                                                    0003
                                                            " data-lg-tj-cid="idnull">电商
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8v00" data-lg-tj-no="
                                                                    0004
                                                            " data-lg-tj-cid="idnull">金融
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8v00" data-lg-tj-no="
                                                                    0005
                                                            " data-lg-tj-cid="idnull">企业服务
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8v00" data-lg-tj-no="
                                                                    0006
                                                            " data-lg-tj-cid="idnull">教育
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8v00" data-lg-tj-no="
                                                                    0007
                                                            " data-lg-tj-cid="idnull">文娱丨内容
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8v00" data-lg-tj-no="
                                                                    0008
                                                            " data-lg-tj-cid="idnull">游戏
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8v00" data-lg-tj-no="
                                                                    0009
                                                            " data-lg-tj-cid="idnull">消费生活
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8v00" data-lg-tj-no="
                                                                    0010
                                                            " data-lg-tj-cid="idnull">硬件
                                        <i class="delete"></i>
                                    </a>
                                </li>
                                <li class="other multi-chosen other-hy">
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0001
                                                            " data-lg-tj-cid="idnull">社交
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0002
                                                            " data-lg-tj-cid="idnull">旅游
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0003
                                                            " data-lg-tj-cid="idnull">体育
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0004
                                                            " data-lg-tj-cid="idnull">工具
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0005
                                                            " data-lg-tj-cid="idnull">汽车丨出行
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0006
                                                            " data-lg-tj-cid="idnull">物流丨运输
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0007
                                                            " data-lg-tj-cid="idnull">医疗丨健康
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0008
                                                            " data-lg-tj-cid="idnull">广告营销
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0009
                                                            " data-lg-tj-cid="idnull">数据服务
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0010
                                                            " data-lg-tj-cid="idnull">信息安全
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0011
                                                            " data-lg-tj-cid="idnull">人工智能
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0012
                                                            " data-lg-tj-cid="idnull">区块链
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0013
                                                            " data-lg-tj-cid="idnull">物联网
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0014
                                                            " data-lg-tj-cid="idnull">VR丨AR
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0015
                                                            " data-lg-tj-cid="idnull">软件开发
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0016
                                                            " data-lg-tj-cid="idnull">通讯电子
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0017
                                                            " data-lg-tj-cid="idnull">房产家居
                                        <i class="delete"></i>
                                    </a>
                                    <a rel="nofollow" href="javascript:;" data-lg-tj-id="8w00" data-lg-tj-no="
                                                                    0018
                                                            " data-lg-tj-cid="idnull">其他
                                        <i class="delete"></i>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </ul>
                <div class="btn-collapse-wrapper">
                    <a rel="nofollow" class="btn-collapse " title="点击收起筛选项" href="javascript:"></a>
                </div>


                <!-- 排序 -->

                <ul class="order" id="order">
                    <li class="wrapper">
                        <div class="item order">
                            <span class="title">排序方式：</span>
                            <a rel="nofollow" href="javascript:;" class="active" data-lg-tj-id="8x00" data-lg-tj-no="
                                                            0001
                                                    " data-lg-tj-cid="idnull">默认</a>
                            <a rel="nofollow" href="https://www.lagou.com/jobs/list_Java?px=new&city=全国#order"
                               data-lg-tj-id="8x00" data-lg-tj-no="
                                                            0002
                                                    " data-lg-tj-cid="idnull">最新</a>
                        </div>
                        <div class="item salary selectUI">
                            <span class="title">月薪：</span>
                            <div class="selectUI-text text"><span>不限</span><i></i>
                                <ul>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&city=全国#order"
                                           data-lg-tj-id="8y00" data-lg-tj-no="
                                                            0001
                                                    " data-lg-tj-cid="idnull">不限</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&yx=2k以下&city=全国#order"
                                           data-lg-tj-id="8y00" data-lg-tj-no="
                                                            0002
                                                    " data-lg-tj-cid="idnull">2k以下</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&yx=2k-5k&city=全国#order"
                                           data-lg-tj-id="8y00" data-lg-tj-no="
                                                            0003
                                                    " data-lg-tj-cid="idnull">2k-5k</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&yx=5k-10k&city=全国#order"
                                           data-lg-tj-id="8y00" data-lg-tj-no="
                                                            0004
                                                    " data-lg-tj-cid="idnull">5k-10k</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&yx=10k-15k&city=全国#order"
                                           data-lg-tj-id="8y00" data-lg-tj-no="
                                                            0005
                                                    " data-lg-tj-cid="idnull">10k-15k</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&yx=15k-25k&city=全国#order"
                                           data-lg-tj-id="8y00" data-lg-tj-no="
                                                            0006
                                                    " data-lg-tj-cid="idnull">15k-25k</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&yx=25k-50k&city=全国#order"
                                           data-lg-tj-id="8y00" data-lg-tj-no="
                                                            0007
                                                    " data-lg-tj-cid="idnull">25k-50k</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&yx=50k以上&city=全国#order"
                                           data-lg-tj-id="8y00" data-lg-tj-no="
                                                            0008
                                                    " data-lg-tj-cid="idnull">50k以上</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item type selectUI">
                            <span class="title">工作性质：</span>
                            <div class="selectUI-text value text"><span>不限</span><i></i>
                                <ul>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&city=全国#order"
                                           data-lg-tj-id="8z00" data-lg-tj-no="
                                                            0001
                                                    " data-lg-tj-cid="idnull">不限</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&gx=全职&city=全国#order"
                                           data-lg-tj-id="8z00" data-lg-tj-no="
                                                            0002
                                                    " data-lg-tj-cid="idnull">全职</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&gx=兼职&city=全国#order"
                                           data-lg-tj-id="8z00" data-lg-tj-no="
                                                            0003
                                                    " data-lg-tj-cid="idnull">兼职</a></li>
                                    <li><a rel="nofollow"
                                           href="https://www.lagou.com/jobs/list_Java?px=default&gx=实习&city=全国&isSchoolJob=1#order"
                                           data-lg-tj-id="8z00" data-lg-tj-no="
                                                            0004
                                                    " data-lg-tj-cid="idnull">实习</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item page">
                            <a class="prev_disabled prev ban" rel="nofollow" href="javascript:;">
                                &lt;
                            </a>
                            <a class="next " href="https://www.lagou.com/zhaopin/Java/2/">
                                &gt;
                            </a>
                            <div class="page-number">
                                <span class="curNum">1</span>
                                /
                                <span class="span totalNum">30</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--活动位-->
            </div>

            <!-- 职位列表 -->
            <div class="s_position_list " id="s_position_list">

                <ul class="item_con_list">
                    <li class="con_list_item default_list" data-index="0" data-positionid="6253392"
                        data-salary="25k-35k" data-company="盒马" data-positionname="高级开发工程师、技术专家" data-companyid="205598"
                        data-hrid="9537190" data-adword="9">
                        <span class="top_icon hurry_up"></span>
                        <span class="top_icon direct_recruitment"></span>
                        <div class="list_item_top">
                            <div class="position">
                                <div class="p_top">

                                    <a class="position_link"
                                       href="https://www.lagou.com/jobs/6253392.html?show=ac22fdab519a4a21bdf504d99a141af3"
                                       target="_blank" data-index="0" data-lg-tj-id="8E00" data-lg-tj-no="
                                                                                                0101
                                                                                        " data-lg-tj-cid="6253392"
                                       data-lg-tj-abt="dm-csearch-useLayeredDisplay|0"
                                       data-lg-webtj-_show_id="ac22fdab519a4a21bdf504d99a141af3"
                                       data-lg-webtj-_search_type="csearch"
                                       data-lg-webtj-_content_type="jd">
                                        <h3>高级开发工程师、技术专家</h3>
                                        <span class="add">[<em>上海·长宁区</em>]</span>
                                    </a>
                                    <span class="format-time">3天前发布</span>
                                </div>
                                <div class="p_bot">
                                    <div class="li_b_l">
                                        <span class="money">25k-35k</span>
                                        <!--<i></i>-->经验不限 / 不限
                                    </div>
                                </div>
                            </div>
                            <div class="company">
                                <div class="company_name">
                                    <a href="https://www.lagou.com/gongsi/205598.html" target="_blank"
                                       data-lg-tj-id="8F00" data-lg-tj-no="
                                                                                                0101
                                                                                        " data-lg-tj-cid="205598"
                                       data-lg-tj-abt="dm-csearch-useLayeredDisplay|0">盒马</a>
                                </div>
                                <div class="industry">
                                    消费生活 / 不需要融资 / 2000人以上
                                </div>
                            </div>
                            <div class="com_logo">
                                <a href="https://www.lagou.com/gongsi/205598.html" target="_blank" data-lg-tj-id="8G00"
                                   data-lg-tj-no="
                                                                                                0101
                                                                                        " data-lg-tj-cid="205598"
                                   data-lg-tj-abt="dm-csearch-useLayeredDisplay|0">
                                    <img src="//www.lgstatic.com/thumbnail_120x120/i/image/M00/28/99/CgpEMlkdex2APRDUAABes_yCPa0134.png"
                                         alt="盒马" width="60" height="60">
                                </a>
                            </div>
                        </div>
                        <div class="list_item_bot">
                            <div class="li_b_l">
                                <span>本地生活</span>
                                <span>新零售</span>
                            </div>
                            <div class="li_b_r">“35K/月”</div>
                        </div>
                    </li>
                </ul>

                <!-- 分页 -->
                <div class="item_con_pager">
                    <div class="pager_container">

                        <a rel="nofollow" href="javascript:;" class="page_no pager_prev_disabled" data-index="">上一页</a>


                        <a rel="nofollow" href="javascript:;" class="page_no pager_is_current" data-index="1">1</a>
                        <a href="https://www.lagou.com/zhaopin/Java/2/" class="page_no" data-index="2">2</a>
                        <a href="https://www.lagou.com/zhaopin/Java/3/" class="page_no" data-index="3">3</a>

                        ···
                        <a href="https://www.lagou.com/zhaopin/Java/30/" class="page_no" data-index="30">30</a>

                        <a href="https://www.lagou.com/zhaopin/Java/2/" class="page_no" data-index="2">下一页</a>
                    </div>
                </div>
                <input id="isSEO" type="hidden" value="true">
                <input id="pageNoSEO" type="hidden" value="1">
                <input id="pageSizeSEO" type="hidden" value="15">
                <input id="totalPageCountSEO" type="hidden" value="1814">
                <input id="resultLengthSEO" type="hidden" value="17">
                <input type="hidden" name="abtCode" value="dm-csearch-useLayeredDisplay|0"/>
                <input type="hidden" id="showId" value="ac22fdab519a4a21bdf504d99a141af3"/>
            </div>

        </div>

        <!-- 右侧 -->
        <!-- 依次填入右侧各个模块 -->
        <div class="content_right">

            <!-- 最近浏览 -->

            <div class="history dn" data-lg-tj-track-code="search_history">
                <div class="title">最近浏览过</div>
                <ul class="history_position_list" id="history_position_list">
                </ul>
            </div>
            <!-- 广告位  -->
            <div class="lgad_container" data-lg-tj-track-code="search_banner" data-lg-tj-track-type="1">
                <!--qq群广告位-->
                <div key="SPACE_KEY_ZHIWEISOUSUOYE_QQQUN" keywordSelector="#keyword" style="margin-bottom: 15px;"></div>
                <!--广告位-->
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI1" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI2" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI3" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI4" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI5" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI6" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI7" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI8" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI9" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI10" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
                <div key="ZHIWEISOUSUOYE_GUANGGAOWEI11" class="lgad_jsonp ad_exposure"
                     style="margin-bottom: 15px;"></div>
            </div>
            <!-- 待验证 广告位 -->
        </div>
    </div>
</div>
<!-- 页面主体END -->
<!-- footer -->
<a id="backtop" title="回到顶部" rel="nofollow"></a>

<div id="footer">
    <div class="wrapper">
        <div class="inner_wrapper">
            <div class="footer_module_column">
                <a class="footer_app" href="https://www.lagou.com/app/download.html" rel="nofollow"> <i
                        class="footer_app_icon"></i>下载拉勾APP </a>
                <a class="footer_mina" href="javascript:;" rel="nofollow"><i class="footer_mina_icon"></i> 微信小程序<img
                        src="//www.lgstatic.com/www/static/common/widgets/footer_c/layout/img/lagou-mina-code_d70848a.png"></a>
                <div class="footer_module_item">
                    <!-- <a class="footer_wechat" href="javascript:;" rel="nofollow"><i class="footer_wechat_icon"></i> 拉勾微信 </a> -->
                    <a class="footer_wechat" href="javascript:;" rel="nofollow"><i class="footer_wechat_icon"></i> 拉勾微信
                        <img src="//www.lgstatic.com/www/static/common/widgets/footer_c/layout/img/lg_pic_weixin@2x_c372698.png"
                             width="160" height="160"></a>
                    <a class="footer_webo" href="http://e.weibo.com/lagou720" target="_blank" rel="nofollow"><i
                            class="footer_webo_icon"></i>拉勾微博</a>
                </div>
            </div>
            <div class="footer_module_right">
                <div class="footer_module_business">
                    <p class="footer_module_title">企业服务</p>
                    <a href="https://activity.lagou.com/activity/dist/business-2018/#/" target="_blank" rel="nofollow">招聘抢人宝典</a>
                    <a href="https://www.lagou.com/gongsi/ " target="_blank" rel="nofollow">公司搜索</a>
                    <a href="https://www.lagou.com/app/download.html " target="_blank" rel="nofollow">拉勾APP</a>
                </div>
                <div class="footer_module_business">
                    <p class="footer_module_title">用户帮助</p>
                    <a href="https://www.lagou.com/qa.html?t=1" target="_blank" rel="nofollow">帮助中心</a>
                    <a href="https://www.lagou.com/privacy.html" target="_blank" rel="nofollow">用户服务协议</a>
                    <a href="https://www.lagou.com/policy.html" target="_blank" rel="nofollow">隐私政策</a>
                    <a href="https://yanzhi.lagou.com/topic/419.html " target="_blank" rel="nofollow">在线提问</a>
                </div>
                <div class="footer_module_business">
                    <p class="footer_module_title">联系方式</p>
                    <span class="tel">服务热线：<em>4006 2828 35 (9:00 -18:00)</em></span>
                    <a class="tel" href="mailto:cc@lagou.com">企业服务邮箱：<em>cc@lagou.com</em></span>
                        <a href="https://www.lagou.com/about.html" target="_blank" rel="nofollow">联系我们</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright_main">
                <div class="copyright_main_left">
                    <span class="copyright_title"><em>&copy;</em>2018 拉勾网</span>
                    <a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action"
                       rel="nofollow">京ICP备14023790号-2</a>
                    <a target="_blank" class="footer_gongan"
                       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802024043"
                       rel="nofollow"><i class="footer_lagou_gongan"></i>京公网安备 11010802024043号</a>
                    <div class="footer_lagou_jubao">
                        <i class="lagou_jubao"></i>
                        <p>
                            <span>违法和不良信息举报</span>
                            <span>电话: 4006 2828 35</span>
                            <span>邮箱: cc@lagou.com</span>
                        </p>
                    </div>
                </div>
                <i class="footer_lagou_icon"></i>
            </div>
        </div>
    </div>
</div>

</body>
</html>